body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    height: 40px;
    padding: 0 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.results {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    width: 300px;  /* Set the desired width */
    height: auto;  /* Maintain aspect ratio */
}

.details-container {
    flex: 2;
    margin-left: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-container h3,
.details-container h2 {
    color: #333;
    margin-bottom: 10px;
}

.details-container p {
    margin: 10px 0;
    color: #333;
    font-size: 16px;
}

.details-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.details-container ul li {
    margin-bottom: 5px;
}

.details-container ul li a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.details-container ul li a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
